@()(implicit mode: play.api.Mode.Mode)

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><img id="nav-logo" src="@routes.Assets.at("images/logo.png")">@buildinfo.BuildInfo.name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="nav navbar-nav navbar-left">

            </div>
            <div class="nav navbar-nav navbar-right">
                @if(mode == play.api.Mode.Dev) {
                    <button type="submit" class="btn btn-default navbar-right navbar-btn" data-toggle="modal" data-target="#devModeModal">Dev Mode</button>
                }
            </div>
        </div>
    </div>
</nav>